<h1>
    Codeial / Home Page
</h1>

<section id="feed-post">
    <h4>Posts</h4>
    <% if(locals.user){%>
    <form action="/post/create" id="new-post-form" method="post">
        <textarea name="content" id="" cols="30" rows="5" placeholder="Type Here...." required></textarea>
        <input type="submit" value="post">
    </form>
    <% }%>
    <div id="post-list-containner">
        <ul>
            <% for (post of post){%>
                <%- include('_post')-%>
            <% }%>
        </ul>
    </div>
</section>
